# Salin jadi .env lalu sesuaikan
PORT=4000
MONGO_URI=mongodb://localhost:27017/almanakklub
OLLAMA_URL=https://ollama.if.unismuh.ac.id/api/generate
OLLAMA_MODEL=llama3.2
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=club-images
